
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}



<div class="content">
    <div class="categories">
        <div class="container">
            <div class="col-md-2 focus-grid">
                <a href="categories.html#parentVerticalTab1">
                    <div class="focus-border">
                        <a href="/home/search?filter=1&text=Mercedes">
                            <div class="focus-layout">
                                <div class="focus-image"> <img src="~/images/merceds.jpg" width="250" height="250"> </div>
                                <h4 class="clrchg">@Fabrika_Cars.Languages.Language.Mercedes</h4>

                            </div>
                        </a>
                    </div>
                </a>
            </div>
            <div class="col-md-2 focus-grid">
                <a href="categories.html#parentVerticalTab2">
                    <div class="focus-border">
                        <a href="/home/search?filter=1&text=BMW">
                            <div class="focus-layout">
                                <div class="focus-image"><img src="~/images/4226.png" width="250" height="250"></div>
                                <h4 class="clrchg">@Fabrika_Cars.Languages.Language.BMW</h4>
                            </div>
                            </a>

                                </div>
                </a>
            </div>
            <div class="col-md-2 focus-grid">
                <a href="categories.html#parentVerticalTab3">
                    <div class="focus-border">
                        <a href="/home/search?filter=1&text=Toyota">
                            <div class="focus-layout">
                                <div class="focus-image"><img src="~/images/toyota.jpg" width="250" height="250"></div>
                                <h4 class="clrchg">@Fabrika_Cars.Languages.Language.Toyota</h4>
                            </div>
                            </a>
</div>
                </a>
            </div>
            <div class="col-md-2 focus-grid">
                <a href="categories.html#parentVerticalTab4">
                    <div class="focus-border">
                        <a href="/home/search?filter=1&text=Opel">
                            <div class="focus-layout">
                                <div class="focus-image"><img src="~/images/opel.jpg" width="250" height="250"></div>
                                <h4 class="clrchg">@Fabrika_Cars.Languages.Language.opel</h4>
                            </div>
                            </a>
</div>
                </a>
            </div>
            <div class="col-md-2 focus-grid">
                <a href="categories.html#parentVerticalTab5">
                    <div class="focus-border">
                        <a href="/home/search?filter=1&text=Chevrolet">
                            <div class="focus-layout">
                                <div class="focus-image"><img src="~/images/chevrolet1.jpg" width="250" height="250"></div>
                                <h4 class="clrchg">@Fabrika_Cars.Languages.Language.Chevrolet   </h4>
                            </div>
                            </a>
</div>
                </a>
            </div>
            <div class="col-md-2 focus-grid">
                <a href="categories.html#parentVerticalTab6">
                    <div class="focus-border">
                        <a href="/home/search?filter=1&text=Nissan">
                            <div class="focus-layout">
                                <div class="focus-image"><img src="~/images/nissan.png" width="250" height="250"></div>
                                <h4 class="clrchg">@Fabrika_Cars.Languages.Language.Nissan   </h4>
                            </div>
                            </a>
</div>
                </a>
            </div>
            <div class="col-md-2 focus-grid">
                <a href="categories.html#parentVerticalTab7">
                    <div class="focus-border">
                        <a href="/home/search?filter=1&text=Hyundai">
                            <div class="focus-layout">
                                <div class="focus-image"><img src="~/images/huyndai.jpg" width="250" height="250"></div>
                                <h4 class="clrchg">@Fabrika_Cars.Languages.Language.Hyundai   </h4>
                            </div>
                            </a>
</div>
                </a>
            </div>
            <div class="col-md-2 focus-grid">
                <a href="categories.html#parentVerticalTab8">
                    <div class="focus-border">
                        <a href="/home/search?filter=1&text=Peugeot">
                            <div class="focus-layout">
                                <div class="focus-image"><img src="~/images/peugeot.png" width="250" height="250"></div>
                                <h4 class="clrchg">@Fabrika_Cars.Languages.Language.peugeut   </h4>
                            </div>
                            </a>
</div>
                </a>
            </div>
            <div class="col-md-2 focus-grid">
                <a href="categories.html#parentVerticalTab9">
                    <div class="focus-border">
                        <a href="/home/search?filter=1&text=Honda">
                            <div class="focus-layout">
                                <div class="focus-image"><img src="~/images/honda.png" width="250" height="250"></div>
                                <h4 class="clrchg">@Fabrika_Cars.Languages.Language.Honda   </h4>
                            </div>
                            </a>
</div>
                </a>
            </div>
            <div class="col-md-2 focus-grid">
                <a href="categories.html#parentVerticalTab10">
                    <div class="focus-border">
                        <a href="/home/search?filter=1&text=Volvo">
                            <div class="focus-layout">
                                <div class="focus-image">v<img src="~/images/volvo.jpg" width="250" height="250"></div>
                                <h4 class="clrchg">@Fabrika_Cars.Languages.Language.Volvo   </h4>
                            </div>
                            </a>
</div>
                </a>
            </div>
            <div class="col-md-2 focus-grid">
                <a href="categories.html#parentVerticalTab11">
                    <div class="focus-border">
                        <a href="/home/search?filter=1&text=Mazada">
                            <div class="focus-layout">
                                <div class="focus-image"><img src="~/images/3d-chrome-acrylic-led-car-logo.jpg_350x350.jpg" width="250" height="250"></div>
                                <h4 class="clrchg">@Fabrika_Cars.Languages.Language.Mazda   </h4>
                            </div>
                            </a>
</div>
                </a>
            </div>
            <div class="col-md-2 focus-grid">
                <a href="categories.html#parentVerticalTab12">
                    <div class="focus-border">
                        <a href="/home/search?filter=1&text=Kia">
                            <div class="focus-layout">
                                <div class="focus-image"><img src="~/images/kia.jpg" width="250" height="250"></div>
                                <h4 class="clrchg">@Fabrika_Cars.Languages.Language.Kia   </h4>
                            </div>
                            </a>
</div>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="trending-ads">
        <div class="">
            <!-- slider -->
            <div class="trend-ads">
                <h2> @Fabrika_Cars.Languages.Language.Advertising </h2><br><br><br><br>
                <a href="code%201.html">
                    <div class="imgaa">
                        
                            <div class="box_skitter box_skitter_Large">
                                <ul>
                                    <li>
                                        <a href="http://www.homeandshopeg.com/products.php?depid=37&gclid=EAIaIQobChMI5ovxtv-g2AIVAijTCh3gBgFNEAAYBCAAEgKIiPD_BwE"> <img src="images/%D9%87%D9%88%D9%85%20%D8%A7%D9%86%D8%AF%20%D8%B4%D9%88%D8%A8%20.jpg.jpg" alt="هوم اند شوب"> </a>
                                        <div class="label_text"><p>Image#1</p><i class="fa fa-times-circle" aira-hidden="true"></i></div>
                                    </li>
                                    <li>
                                        <a href="http://www.inmobi.com/"><img src="~/images/is.jpg" alt="inmobi"></a>
                                        <div class="label_text"><p>Image#2</p></div>
                                    </li>
                                    <li>
                                        <a href="https://abokartona.weebly.com/"><img src="~/images/e1.jpg.jpg" alt="abokartona"></a>
                                        <div class="label_text"><p>Image#3</p></div>
                                    </li>
                                    <li>
                                        <a href="https://www.carrier.com/carrier/en/eg/"><img src="~/images/carrier.jpg.jpg" alt="carrier"></a>
                                        <div class="label_text"><p>Image#4</p></div>
                                    </li>
                                    <li>
                                        <a href="http://www.yongnuo-taswir.com/index.php"><img src="~/images/e10.jpg" alt="camera"></a>
                                        <div class="label_text"><p>Image#5</p></div>
                                    </li>
                                    <li>
                                        <a href="https://shop.maramparis.com/?gclid=EAIaIQobChMIla6Jq5qJ2QIVDrXt"><img src="~/images/fa8.jpg" alt="fashion"></a>
                                        <div class="label_text"><p>Image#6</p></div>
                                    </li>
                                </ul>
                                <br> <br><br><br>











                            </div>
                            <!-- //slider -->
                    </div>

                    <div class="mobile-app">
                        <div class="container">
                            <div class="col-md-5 app-left">
                                <a href="mobileapp.html"><img src="~/images/banner.jpg" alt=""></a>
                            </div>
                            <div class="col-md-7 app-right">
                                <h3 style="margin-top: -90px;">@Fabrika_Cars.Languages.Language.FabrikaCarsAppisthe<span>@Fabrika_Cars.Languages.Language.Easiest</span>@Fabrika_Cars.Languages.Language.wayforSellingandbuyingspaepartsofcars</h3>
                               
                                <div class="app-buttons">
                                    <div class="app-button">
                                        <a href="#"><img src="~/images/1.png" alt=""></a>
                                    </div>
                                    <div class="app-button">
                                        <a href="#"><img src="~/images/2.png" alt=""></a>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
            </div>
</div>
</div>
</div>
